# docker-compose 가 읽는 로컬 Postgres 컨테이너 설정 템플릿
# 사용: cp envs/.env.docker.example envs/.env.docker 후 값 채우기
# (envs/.env.docker 는 git 에 커밋되지 않습니다)
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=nest-boiler-test
TZ=Asia/Seoul

# host 포트 변경이 필요하면 셸에서 POSTGRES_PORT 를 설정하세요 (기본 5433)
# POSTGRES_PORT=5433
